body {
    margin: 0;
    padding: 0;
    background:#91AD70;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #34495e;
    height: 60px;
    border-radius: 60px;
    padding: 2px;
}

.search-btn {
    float: right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 60px;
    width: 0;
}

.search-box:hover>.search-txt {
    width: 220px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: #34495e;
}

.search-part{
    margin-bottom: 30px;
    margin-top: 20px;
}

img.smaller {
	width: 192px;
	height: 108px;
	max-width: 250px;
	animation: flipInX 4s;
	-webkit-animation: flipInX 4s
}
footer {
    position: absolute;
   width: 100%;
   bottom: 0em;
    
    color: #a5b5c7;
  
    text-shadow: 0 1px 2px #000;
    text-align: center;
  }
  footer a {
    color: #a5b5c7;
    font-weight: bold;
  }
  footer a:hover {
    text-decoration: none;
  }
  